<nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}"><img src="{{ asset('img/logo.png') }}" width="40" height="34"></a>
            </li>
            <button type="button" class="btn btn-outline-danger">   
                {% if app.user %} 
                    <li class="nav-item">
                        <a class="nav-link"{#  href="{{ path('app_profil') }}" #}>Profil</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                    </li>
                
                {% endif %}
            </button>
            <button type="button" class="btn btn-outline-danger ms-2">   
                {% if app.user %}    
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout')}}">Déconnexion</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                {% endif %}
            </button>
        </ul>
    </div>
</nav>